<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atencion emergencias AP</title>
    <style>
        .enlace1{
        display: inline-block;
        color: beige;
        text-decoration: none;
        background-color: rgb(79, 101, 121);
        padding: 15px;
        margin: 25 px 0 px;
        }
        </style>

<style>
    .enlace9{
    display: inline-block;
    color: beige;
    text-decoration: none;
    background-color: rgb(79, 101, 121);
    padding: 15px;
    margin: 25 px 0 px;
    }
    </style>
</head>

<body style="background: url('registro_exitoso.jpeg'); background: size 32px cover;"></body>

<body>

    <a class="enlace1" href="/inicio" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ⭠ INICIO    
     </a>

     <a class="enlace9" href="/generar_reporte" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ⭠ Generar Nuevo Reporte    
     </a>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     
     
     
     
     

    <h1 style= "color:rgb(6, 39, 10)">
        <p align="left">TU REGISTRO A SIDO EXITOSO</p>
    </h1>
    
        



</body>
</html>